CONSUMER_KEY: CONSUMER_KEY
CONSUMER_SECRET: CONSUMER_SECRET
ACCESS_TOKEN_KEY: ACCESS_TOKEN_KEY
ACCESS_TOKEN_SECRET: ACCESS_TOKEN_SECRET
LASTFM_KEY: LASTFM_API_KEY
LASTFM_USER: LASTFM_USER_ID
POST_FORMAT: "#NowPlaying \"{title}\"{duplicate} via Last.fm {link}"
